table{
	width: 50%;
	border:1px black;
	border-collapse:collapse;
	text-align:center;
	background-color: white;
}
th{
	border:2px black solid;
	background-color:grey;
	font-weight:bold;
	color: black;
}
td{
	vertical-align: middle;
	border: 2px black solid;
}
img{
	width:50%;
	height:50%;
	background-color: transparent;
	mix-blend-mode: multiply;
}

img:hover{
	width:60%;
}


h1{
	text-align: center;
	font-size:14px;
	font-style:Arial;
	text-decoration:underline;
	color: white;
}
body{
	background-image: linear-gradient(to bottom, #ff7e5f, #feb47b);
	font-family:Verdana, Comic Sans;
	text-align:center;
}
article{
	width: 100%;
	justify-items: center;
}
h2{
	  background-image: linear-gradient(to bottom, red, blue);
  -webkit-background-clip: text;
  color: transparent;
}






