body{
    min-height: 100vh;
    background-color: rgb(14, 17, 37);
    display:grid;
    place-items: center;
}

#calculadora{
    background-color: black;
    color: white;
    width: 50%;
    min-width:200px;
    padding: 2lh;
    border-radius: 1lh;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 0.2lh;
}

.pantalla{
    min-width: 100px;
    grid-column: 1/-1;
    text-align: right;
    font-size: 1.5lh;
    font-family: monospace;
    font-weight: 500;
    background-color: rgb(122, 114, 88);
    border-radius: 0.1lh;
    padding: .5lh;
    margin-bottom: .2lh;
}

.btnf{
    grid-column: 1/6;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:.2lh;
    padding:.4lh;
}

.btn{
    min-width:20px;
    background-color: white;
    color: black;
    border:0;
    padding: 1lh .9lh;
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius: .7lh;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(215, 234, 250);
}

.btnr{
    min-width:20px;
    background-color: white;
    color: black;
    border:0;
    padding: .3lh .9lh;
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius: .5lh;
    cursor: pointer;
}

.btnr:hover{
    background-color: rgb(215, 234, 250);
}